/*primero utilities*/
/*archivos base*/
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap");
* {
  margin: 0;
  padding: o;
  box-sizing: border-box; }

/*
font-family: "Luxurious Roman", serif;
font-family: "Luxurious Script", cursive;
font-family: "Marko One", serif;
font-family: "Dancing Script", cursive;
*/
html {
  font-family: "Luxurious Roman", serif; }

/*parsal de layout*/
.barra nav {
  font-size: 2.5rem;
  text-decoration: none;
  background-color: #F3D7CA;
  font-family: "Luxurious Script", cursive;
  width: 100%;
  height: 5.625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  z-index: 1050;
  position: fixed; }
  .barra nav a {
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    font-size: 1.875rem;
    padding-left: .625rem; }
    .barra nav a:hover {
      font-size: 1.5625rem;
      color: rgba(218, 29, 146, 0.847);
      transition: .5s; }
    .barra nav a img {
      width: 30%;
      height: 30%;
      padding-top: .625rem;
      padding-left: 1.25rem; }
  .barra nav ul {
    width: 100%;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.9375rem;
    list-style: none; }
    .barra nav ul li a {
      color: white;
      text-decoration: none;
      text-shadow: 2px 2px 4px black; }
      .barra nav ul li a:hover {
        font-size: 1.5625rem;
        color: rgba(218, 29, 146, 0.847);
        transition: .5s; }
  .barra nav .checkbox {
    font-size: 1.875rem;
    color: white;
    float: right;
    padding-left: 1.25rem;
    display: none;
    cursor: pointer; }
    .barra nav .checkbox:hover {
      color: #FFF8E3; }
  .barra nav #check {
    display: none; }

.seccionUno {
  width: 100%;
  height: 37.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  background-image: url("../assets/iconos/1500px.webp");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 6.25rem; }
  .seccionUno .box {
    width: 60%;
    height: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
    font-size: .625rem;
    background-color: #f3d7cabf;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%; }
    .seccionUno .box p {
      width: 100%;
      height: 12.5rem;
      font-size: 1.25rem;
      text-align: center;
      padding: 1%; }

.seccionDos {
  width: 100%;
  height: 25rem;
  padding: 5%; }
  .seccionDos p {
    width: 100%;
    height: 18.75rem;
    font-size: 1.5625rem;
    text-align: center; }
    .seccionDos p::first-letter {
      font-size: 2.5rem; }

.seccionTres {
  width: 100%;
  height: 37.5rem;
  background-image: linear-gradient(135deg, #F3D7CA, #FFD1C0, #FFC9BD, #FFBEC3);
  background-size: 500%;
  animation: fanimado 3s infinite;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto; }
  .seccionTres div.model {
    width: 100%;
    height: 80%;
    margin-top: 1.25rem;
    padding: 3.125rem; }
    .seccionTres div.model:hover {
      filter: grayscale(3);
      transition: 3s;
      width: 80%; }
    .seccionTres div.model a {
      width: 25%;
      height: 100%;
      text-align: center;
      text-decoration: none;
      color: black; }
      .seccionTres div.model a img {
        width: 100%;
        height: 80%;
        border-radius: 40% 40% 0% 0%; }
      .seccionTres div.model a p {
        width: 100%;
        height: 3.125rem;
        background-color: #FFF8E3;
        padding-top: .625rem; }

@keyframes fanimado {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.seccionCuatro {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .seccionCuatro .anillos {
    grid-column: 8/11;
    grid-row: 1/12;
    order: 2; }
    .seccionCuatro .anillos img {
      width: 100%;
      height: 100%;
      border: solid black;
      border-radius: 0% 0% 40% 40%; }
  .seccionCuatro .expNov {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #fff8e3, #fff5ec, #fff6f6, #fef8fc, #fafafa);
    font-size: 1.25rem;
    grid-column: 1/13;
    grid-row: 6/13;
    order: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .seccionCuatro .expNov h2 {
      width: 100%;
      height: 100%;
      grid-column: 2/6;
      grid-row: 2/3; }
    .seccionCuatro .expNov p {
      width: 100%;
      height: 100%;
      padding-left: 3.125rem;
      grid-column: 1/6;
      grid-row: 3/6; }

.secNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: none;
  width: 100%;
  height: 100%;
  background-image: url(../assets/iconos/fondo-pagina-galeria.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .secNosotros .divNosotros {
    width: 60%;
    height: 90%;
    background-color: #f3d7cac8;
    border-radius: 0% 0% 20% 20%;
    padding: 0 1.25rem;
    margin-top: 5rem;
    margin-bottom: 5rem; }
    .secNosotros .divNosotros h1 {
      font-size: 1.5625rem;
      color: grey; }
    .secNosotros .divNosotros p {
      width: 100%;
      height: 100%;
      color: grey;
      line-height: 1.875rem;
      text-align: justify;
      margin-bottom: 3.125rem; }

.bodaSecUno {
  width: 100%;
  height: 25rem;
  background-image: linear-gradient(to bottom, #f3d7ca, #f8dedd, #f7e7ec, #f6f1f6, #fafafa);
  font-size: 1.875rem;
  text-align: center;
  padding: 5%; }

.bodaSecDos, .bodaSecTres, .bodaSecCuatro {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center; }
  .bodaSecDos article, .bodaSecTres article, .bodaSecCuatro article {
    grid-column: 1/5;
    grid-row: 2/3;
    order: 1;
    background-image: linear-gradient(135deg, #F1E8CD, #F2FEDC, #FCF0CA, #fafafa, #F3D7CA);
    background-size: 500%;
    animation: fanimado 10s infinite;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: repeat(2, 1fr); }
    .bodaSecDos article p, .bodaSecTres article p, .bodaSecCuatro article p {
      grid-column: 3/4;
      grid-row: 2/3;
      text-align: center;
      padding-bottom: 1.25rem; }
    .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: center;
      padding-top: 1.25rem; }
  .bodaSecDos div, .bodaSecTres div, .bodaSecCuatro div {
    width: 100%;
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    gap: none;
    grid-column: 2/3;
    grid-row: 1/3;
    order: 2; }
    .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
      width: 50%;
      height: 80%;
      border-radius: 0% 0% 45% 45%;
      box-shadow: 5px 5px rgba(128, 128, 128, 0.537); }
      .bodaSecDos div img:hover, .bodaSecTres div img:hover, .bodaSecCuatro div img:hover {
        filter: contrast(2); }

.bodaSecTres article {
  background-color: #e7c0aecf; }
  .bodaSecTres article p {
    grid-column: 2/3; }
  .bodaSecTres article h2 {
    grid-column: 2/3; }

.bodaSecTres div {
  grid-column: 3/4; }

.bodaSecCuatro article {
  background-color: #f4efdd; }

h1 {
  font-size: 2.5rem;
  font-weight: 400px;
  text-align: center;
  padding: 1.25rem 0; }

.mainGaleria {
  padding-top: 5rem; }
  .mainGaleria section .linea {
    background: #ffd6dd;
    width: 100%;
    height: .3125rem;
    display: block; }
  .mainGaleria section .Galeria {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    margin: auto;
    grid-gap: .625rem;
    padding: 2.5rem 0%;
    overflow: hidden; }
    .mainGaleria section .Galeria a {
      display: block;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.658); }
      .mainGaleria section .Galeria a:hover img {
        filter: blur(0.125rem);
        transform: rotate(10deg) scale(1.3); }
      .mainGaleria section .Galeria a img {
        width: 100%;
        height: 18.75rem;
        vertical-align: top;
        object-fit: cover;
        transition: transform 0.5s; }
  .mainGaleria .galeriaPlaya {
    padding-top: 3.125rem;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
    z-index: 1000;
    transform: scale(0);
    transition: transform .3s ease-in-out; }
    .mainGaleria .galeriaPlaya:target {
      transform: scale(1); }
    .mainGaleria .galeriaPlaya img {
      padding-top: 1.5625rem;
      width: 75vw;
      max-height: 90vh;
      object-fit: contain; }
    .mainGaleria .galeriaPlaya .cerrar {
      display: block;
      position: absolute;
      top: 5rem;
      right: 2.5rem;
      background: #fdc9d1;
      color: black;
      text-decoration: none;
      width: 1.875rem;
      height: 1.875rem;
      text-align: center;
      line-height: 1.875rem;
      border-radius: 50%; }
    .mainGaleria .galeriaPlaya .siguiente {
      display: block;
      background: #fdc9d1;
      color: black;
      width: 1.5625rem;
      height: 1.5625rem;
      line-height: 1.5625rem;
      text-decoration: none;
      text-align: center;
      margin: 0 .625rem; }

.contacto {
  background-image: linear-gradient(to bottom, #f3d7ca, #f8dedd, #f7e7ec, #f6f1f6, #fafafa);
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none; }
  .contacto .formulario {
    width: 50%;
    height: 37.5rem;
    margin: 0% 6.25rem 0% 6.25rem;
    border-radius: 50% 50% 0% 0%;
    box-shadow: 0.3125rem 0.3125rem rgba(128, 128, 128, 0.542);
    background-image: url(../assets/iconos/Romantic-Valentine-iPhone-Wallpapers.webp); }
    .contacto .formulario form {
      width: 100%;
      height: 37.5rem;
      display: grid;
      gap: 5px;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 25% repeat(3, 1fr) 10% 20% 25%; }
      .contacto .formulario form .input__email {
        width: 100%;
        padding: 12px 18px;
        font-size: 16px;
        font-family: inherit;
        box-shadow: 0 0 0 1px #f8bfbf;
        border: none;
        border-radius: 25px;
        background-color: #fff5f5;
        transition: all .3s; }
        .contacto .formulario form .input__email:focus {
          outline: none;
          box-shadow: 0 0 10px 1px #ee8c8c;
          border: none;
          transition: all .3s; }
        .contacto .formulario form .input__email::placeholder {
          font-family: "Marko One", serif;
          text-align: center;
          padding: .625rem;
          color: #ce9797;
          font-size: .875rem; }
        .contacto .formulario form .input__email:first-child {
          grid-column: 2/3;
          grid-row: 2/3; }
        .contacto .formulario form .input__email:nth-child(3) {
          grid-column: 2/3;
          grid-row: 4/5; }
        .contacto .formulario form .input__email:nth-child(4) {
          grid-column: 2/3;
          grid-row: 5/6; }
        .contacto .formulario form .input__email:nth-child(2) {
          grid-column: 2/3;
          grid-row: 3/4; }
        .contacto .formulario form .input__email:nth-child(5) {
          grid-column: 2/3;
          grid-row: 6/7; }
  .contacto div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
    grid-column: 2/3;
    grid-row: 7/8; }
    .contacto div button {
      position: relative;
      padding: 15px 45px;
      background: #fec195;
      font-size: 17px;
      font-weight: 500;
      color: #181818;
      cursor: pointer;
      border: 1px solid #fec195;
      border-radius: 8px;
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2)); }
      .contacto div button:hover {
        border: 1px solid #f3b182;
        background: linear-gradient(85deg, #fec195, #fcc196, #fabd92, #fac097, #fac39c);
        animation: wind 2s ease-in-out infinite; }
      .contacto div button:hover .icon-1 {
        animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
        transform: rotate(10deg); }
      .contacto div button:hover .icon-2 {
        animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
        transform: rotate(0); }
      .contacto div button:hover .icon-3 {
        animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
        transform: rotate(0); }
      .contacto div button .icon-1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        transform-origin: 0 0;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3)); }
      .contacto div button .icon-2 {
        position: absolute;
        top: 0;
        left: 25px;
        width: 12px;
        transform-origin: 50% 0;
        transform: rotate(10deg);
        transition: all 1s ease-in-out;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5)); }
      .contacto div button .icon-3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        transform-origin: 50% 0;
        transform: rotate(-5deg);
        transition: all 1s ease-in-out;
        filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5)); }

@keyframes wind {
  0% {
    background-position: 0% 50%; }
  0% {
    background-position: 50% 100%; }
  0% {
    background-position: 0% 50%; } }

@keyframes slay-1 {
  0% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(10deg); } }

@keyframes slay-2 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0); } }

@keyframes slay-3 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0); } }
  .contacto .contactoPag {
    padding-top: 4.375rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: none; }
    .contacto .contactoPag div {
      width: 50%;
      height: 25rem;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: repeat(8.1fr); }
      .contacto .contactoPag div p {
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: "Marko One", serif;
        font-size: .9375rem;
        padding-top: 3.125rem; }
      .contacto .contactoPag div a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: none;
        text-decoration: none;
        color: black;
        font-size: 1.25rem;
        font-family: "Dancing Script", cursive; }
        .contacto .contactoPag div a:nth-child(2) {
          grid-column: 2/3;
          grid-row: 2/3;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
        .contacto .contactoPag div a:nth-child(3) {
          grid-column: 2/3;
          grid-row: 3/4;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
        .contacto .contactoPag div a:nth-child(4) {
          grid-column: 2/3;
          grid-row: 4/5;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
        .contacto .contactoPag div a:last-child {
          grid-column: 2/3;
          grid-row: 5/6;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
      .contacto .contactoPag div img {
        width: 10%;
        padding-right: .375rem; }

div iframe {
  width: 90%;
  height: 40%; }

footer {
  background-color: #FFF8E3;
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6.25rem; }
  footer a img:hover {
    filter: grayscale(3);
    transition: .2s;
    width: 50%; }

/*parsal de componentes*/
/*parsal de media querys*/
@media (max-width: 1024px) {
  .navBar {
    width: 100%;
    height: 44.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: none;
    padding-right: 3.125rem; }
    .navBar li a {
      font-size: 1.25rem; }
  .barra nav a {
    padding-left: 5%; }
  .seccionUno .box p {
    font-size: 1.25rem;
    padding: 1%; }
  .seccionDos p {
    font-size: 1.5625rem; }
  .seccionTres {
    height: 31.25rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center; }
  .expNov p {
    font-size: .9375rem; }
  .expNov h2 {
    font-size: 1.25rem; }
  .textoMedio p {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .textoMedio h1 {
    font-size: 1.5625rem;
    padding-top: 1.25rem; }
  .seccionNos {
    width: 100%; }
    .seccionNos div {
      width: 75%; }
  .bodaSecUno {
    height: 31.25rem; }
  .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
    width: 80%; }
  .bodaSecTres div img {
    width: 80%; }
  .bodaSecCuatro div img {
    width: 80%; }
  .divNosotros {
    width: 70%;
    height: 90%; }
  .contacto .formulario {
    width: 75%;
    height: 80%;
    margin-top: 3.125rem; }
  .contacto .contactoPag {
    width: 100%;
    height: 100%; }
    .contacto .contactoPag div {
      grid-template-columns: 15% 70% 15%; } }

@media (max-width: 768px) {
  .barra nav a {
    width: 50%; }
  .barra nav .checkbox {
    width: 50%;
    height: 1.875rem;
    display: block;
    text-align: right;
    padding-right: 3.125rem; }
  .barra nav ul {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    width: 30%;
    height: 15.625rem;
    text-align: center;
    position: fixed;
    background-color: #F3D7CA;
    top: 4.375rem;
    transition: all .5s;
    margin-left: 70%;
    right: 100%; }
    .barra nav ul li {
      display: block;
      padding: 0;
      line-height: 1.875rem; }
      .barra nav ul li a {
        font-size: 35px; }
        .barra nav ul li a:hover {
          font-size: 1.875rem;
          background-color: #FFF8E3;
          border-radius: 20%; }
  #check:checked ~ .navBar {
    left: 0;
    z-index: 1050; }
  #check {
    display: none; }
  .seccionUno {
    width: 100%;
    height: 100%; }
    .seccionUno .box {
      width: 75%;
      height: 70%;
      margin-top: 6.25rem; }
      .seccionUno .box p {
        height: 15.625rem;
        font-size: 1.125rem;
        text-align: center;
        padding-top: 1.5625rem; }
  .seccionDos p {
    font-size: 1.125rem; }
  .seccionTres {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 30%);
    justify-content: center; }
    .seccionTres div.model {
      width: 100%;
      height: none;
      padding: 1.25rem; }
      .seccionTres div.model a {
        width: 100%;
        height: 100%; }
      .seccionTres div.model img {
        width: 100%;
        height: 100%; }
  .seccionCuatro {
    width: 100%;
    height: 100%; }
    .seccionCuatro .anillos {
      width: 9.375rem;
      height: 12.5rem;
      grid-column: 8/12;
      grid-row: 1/12; }
    .seccionCuatro .expNov {
      height: 100%; }
      .seccionCuatro .expNov h2 {
        font-size: .9375rem;
        padding-top: 1.5625rem;
        grid-column: 2/5;
        grid-row: 1/3; }
      .seccionCuatro .expNov p {
        font-size: 1rem;
        grid-column: 1/10;
        padding-top: 1.5625rem;
        display: inline;
        padding-bottom: 1.25rem; }
  footer {
    height: 3.125rem;
    gap: 3.125rem; }
    footer a img {
      width: 100%;
      height: 1.25rem; }
  .textoMedio p {
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.25rem; }
  .textoMedio h1 {
    font-size: 1.25rem;
    padding-top: 1.25rem; }
  .bodaSecUno h1 {
    margin-top: 1.5625rem; }
  .bodaSecUno p {
    font-size: 1.375rem; }
  .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
    width: 100%; }
  .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
    text-align: none; }
  .bodaSecDos article p, .bodaSecTres article p, .bodaSecCuatro article p {
    grid-column: 2/4;
    padding-top: 1.25rem; }
  .bodaSecTres div img {
    width: 100%; }
  .bodaSecCuatro div img {
    width: 100%; }
  .mainNosotros {
    width: 100%;
    height: 100%; }
    .mainNosotros .divNosotros {
      width: 75%;
      height: 80%;
      font-size: .875rem;
      background-color: #fafafa18;
      padding: 0 .625rem; }
      .mainNosotros .divNosotros h1 {
        color: black; }
      .mainNosotros .divNosotros p {
        color: black; }
  .contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .contacto .formulario {
      width: 90%;
      height: 37.5rem;
      margin-top: 6.25rem; }
      .contacto .formulario form {
        width: 100%;
        height: 100%; }
    .contacto .contactoPag {
      width: 75%;
      height: 50rem;
      margin-bottom: 6.25rem; } }

@media (max-width: 425px) {
  .barra nav a {
    width: 50%; }
    .barra nav a img {
      width: 50%;
      height: 50%; }
  .barra nav .checkbox {
    width: 50%;
    height: 1.875rem;
    display: block;
    text-align: right;
    /*                     padding-right: 1.5625rem;
 */ }
  .barra nav ul {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    width: 50%;
    height: 250px;
    text-align: center;
    position: fixed;
    background-color: #F3D7CA;
    top: 4.375rem;
    transition: all .5s;
    margin-left: 50%;
    right: 100%; }
    .barra nav ul li {
      display: block;
      padding: 0;
      line-height: 1.875rem; }
      .barra nav ul li a {
        font-size: 1.5625rem; }
        .barra nav ul li a:hover {
          font-size: 1.875rem;
          background-color: #FFF8E3;
          border-radius: 20%; }
  #check:checked ~ .navBar {
    left: 0;
    z-index: 1050; }
  #check {
    display: none; }
  .seccionUno .box {
    width: 100%;
    height: 12.5rem; }
    .seccionUno .box p {
      height: 10.9375rem;
      font-size: 1rem;
      padding-top: 0; }
  .seccionTres {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; }
    .seccionTres div.model {
      padding: 1.5625rem; }
  .bodaSecUno {
    height: 37.5rem;
    padding-top: 5rem; }
    .bodaSecUno h1 {
      font-size: 1.875rem;
      margin-bottom: 1.25rem; }
    .bodaSecUno p {
      font-size: 1.125rem; }
  .bodaSecDos, .bodaSecTres, .bodaSecCuatro {
    height: 43.75rem; }
    .bodaSecDos div, .bodaSecTres div, .bodaSecCuatro div {
      grid-column: 2/4;
      grid-row: 1/3; }
      .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
        width: 100%;
        height: 75%; }
    .bodaSecDos article, .bodaSecTres article, .bodaSecCuatro article {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .bodaSecDos article p, .bodaSecTres article p, .bodaSecCuatro article p {
        padding: 20px; }
      .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
        padding-bottom: 1.25rem; }
  .seccionCuatro {
    width: 100%;
    height: 100%; }
    .seccionCuatro .anillos {
      grid-column: 7/12;
      grid-row: 1/8; }
    .seccionCuatro .expNov {
      width: 100%;
      height: 100%; }
      .seccionCuatro .expNov h2 {
        padding-top: 1.25rem; }
      .seccionCuatro .expNov p {
        margin-top: 0;
        padding-bottom: 1.25rem;
        font-size: 1rem;
        grid-column: 1/10; }
  .mainNosotros {
    width: 100%;
    height: 100%; }
    .mainNosotros .divNosotros {
      background-color: #fafafa04; }
      .mainNosotros .divNosotros h1 {
        color: black;
        margin-bottom: 1.5625rem; }
      .mainNosotros .divNosotros p {
        color: black; }
  .contacto .formulario {
    border-radius: 4.6875rem 4.6875rem 0% 0%; }
    .contacto .formulario form {
      grid-template-columns: 15% 70% 15%; }
      .contacto .formulario form .input__email::placeholder {
        font-size: .625rem; }
  .contacto .contactoPag div {
    width: 100%;
    height: 50%; } }

@media (max-width: 375px) {
  .seccionUno .box {
    width: 100%;
    height: 12.5rem; }
    .seccionUno .box p {
      height: 10.9375rem;
      font-size: 1rem; }
  .seccionDos {
    height: 100%; }
    .seccionDos p {
      font-size: 1.25rem; }
  .seccionTres {
    width: 100%;
    height: none;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center; }
    .seccionTres div {
      width: 100%;
      height: 15.625rem; }
      .seccionTres div img {
        width: 100%;
        height: 50%; }
      .seccionTres div a {
        width: 50%;
        height: 100%; }
      .seccionTres div p {
        font-size: .9375rem;
        line-height: .9375rem;
        padding-top: .625rem; }
  .bodaSecUno p {
    font-size: 1.125rem; }
  .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
    height: 75%; }
  .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
    padding-top: 1.25rem; } }

@media (max-width: 20rem) {
  p {
    font-family: "Luxurious Roman", serif; }
  .seccionUno .box {
    width: 100%;
    height: 12.5rem; }
    .seccionUno .box p {
      height: 10.9375rem;
      font-size: 1rem; }
  .seccionDos {
    height: 100%; }
    .seccionDos p {
      font-size: 1rem; }
    .seccionDos h1 {
      font-size: 1.875rem; }
  .seccionTres {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 1.5625rem; }
  .seccionCuatro {
    width: 100%;
    height: 100%; }
    .seccionCuatro .anillos {
      grid-column: 7/12;
      grid-row: 1/8; }
    .seccionCuatro .expNov {
      width: 100%;
      height: 100%; }
      .seccionCuatro .expNov h2 {
        padding-top: 1.25rem; }
      .seccionCuatro .expNov p {
        grid-column: 1/10;
        padding-top: .3125rem; }
  .bodaSecUno p {
    font-size: 1.125rem; }
  .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
    height: 60%; }
  .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
    padding-top: 1.25rem; } }
