/*primero utilities*/
/*archivos base*/
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap");
* {
  margin: 0;
  padding: o;
  box-sizing: border-box; }

/*
font-family: "Luxurious Roman", serif;
font-family: "Luxurious Script", cursive;
font-family: "Marko One", serif;
font-family: "Dancing Script", cursive;
*/
html {
  font-family: "Luxurious Roman", serif; }

/*parsal de layout*/
.barra nav {
  font-size: 2.5rem;
  text-decoration: none;
  background-color: #F3D7CA;
  font-family: "Luxurious Script", cursive;
  width: 100%;
  height: 4.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  z-index: 1050;
  position: fixed; }
  .barra nav a {
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    font-size: 1.875rem;
    padding-left: .625rem; }
    .barra nav a:hover {
      font-size: 1.5625rem;
      color: rgba(218, 29, 146, 0.847);
      transition: .5s; }
  .barra nav ul {
    width: 100%;
    height: 4.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.9375rem;
    list-style: none; }
    .barra nav ul li a {
      color: white;
      text-decoration: none;
      text-shadow: 2px 2px 4px black; }
      .barra nav ul li a:hover {
        font-size: 1.5625rem;
        color: rgba(218, 29, 146, 0.847);
        transition: .5s; }
  .barra nav .checkbox {
    font-size: 1.875rem;
    color: white;
    float: right;
    padding-left: 1.25rem;
    display: none;
    cursor: pointer; }
    .barra nav .checkbox:hover {
      color: #FFF8E3; }
  .barra nav #check {
    display: none; }

.seccionUno {
  width: 100%;
  height: 31.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  background-image: url("../assets/iconos/1500px.jpg");
  background-repeat: no-repeat;
  background-position: center; }
  .seccionUno .box {
    width: 40%;
    height: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
    font-size: .625rem;
    background-color: #f3d7cabf;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%; }
    .seccionUno .box p {
      width: 100%;
      height: 12.5rem;
      font-size: 1.25rem;
      text-align: center;
      padding: 1%; }

.seccionDos {
  width: 100%;
  height: 25rem;
  padding: 5%; }
  .seccionDos p {
    width: 100%;
    height: 18.75rem;
    font-size: 1.5625rem;
    text-align: center; }
    .seccionDos p::first-letter {
      font-size: 2.5rem; }

.seccionTres {
  width: 100%;
  height: 31.25rem;
  background-color: #F3D7CA;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto; }
  .seccionTres div.model {
    width: 75%;
    height: 80%;
    margin-top: 1.25rem;
    margin-left: 1.5625rem; }
    .seccionTres div.model:hover {
      filter: grayscale(3);
      transition: 3s;
      width: 80%; }
    .seccionTres div.model a {
      width: 25%;
      height: 100%;
      text-align: center;
      text-decoration: none;
      color: black; }
      .seccionTres div.model a img {
        width: 100%;
        height: 80%;
        border-radius: 40% 40% 0% 0%; }
      .seccionTres div.model a p {
        width: 100%;
        height: 3.125rem;
        background-color: #FFF8E3; }

.seccionCuatro {
  width: 100%;
  height: 28.125rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .seccionCuatro .anillos {
    grid-column: 8/11;
    grid-row: 1/12;
    order: 2; }
    .seccionCuatro .anillos img {
      width: 100%;
      height: 100%;
      border: solid black;
      border-radius: 0% 0% 40% 40%; }
  .seccionCuatro .expNov {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #fff8e3, #fff5ec, #fff6f6, #fef8fc, #fafafa);
    font-size: 1.25rem;
    grid-column: 1/13;
    grid-row: 6/13;
    order: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr); }
    .seccionCuatro .expNov h2 {
      width: 100%;
      height: 100%;
      padding-top: 1.25rem;
      grid-column: 2/6;
      grid-row: 2/3; }
    .seccionCuatro .expNov p {
      width: 100%;
      height: 100%;
      padding-left: 3.125rem;
      grid-column: 1/6;
      grid-row: 3/6; }

.mainNosotros {
  width: 100%;
  height: 100%;
  background-image: url(/assets/iconos/pareja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .mainNosotros section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: none; }
    .mainNosotros section div {
      width: 60%;
      height: 90%;
      background-color: #f3d7cac8;
      border-radius: 0% 0% 20% 20%;
      padding: 0 1.25rem;
      margin-top: 5rem; }
    .mainNosotros section h1 {
      font-size: 1.5625rem;
      color: grey; }
    .mainNosotros section p {
      width: 100%;
      height: 75%;
      color: grey;
      line-height: 1.875rem;
      text-align: justify;
      margin-bottom: 3.125rem; }

.bodaSecUno {
  width: 100%;
  height: 25rem;
  background-image: linear-gradient(to bottom, #f3d7ca, #f8dedd, #f7e7ec, #f6f1f6, #fafafa);
  font-size: 1.875rem;
  text-align: center;
  padding: 5%; }

.bodaSecDos, .bodaSecTres, .bodaSecCuatro {
  width: 100%;
  height: 31.25rem;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center; }
  .bodaSecDos article, .bodaSecTres article, .bodaSecCuatro article {
    grid-column: 1/5;
    grid-row: 2/3;
    order: 1;
    background-color: #f1e8cd;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: repeat(2, 1fr); }
    .bodaSecDos article p, .bodaSecTres article p, .bodaSecCuatro article p {
      grid-column: 3/4;
      grid-row: 2/3;
      text-align: center;
      padding-bottom: 1.25rem; }
    .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
      grid-column: 3/4;
      grid-row: 1/2;
      text-align: center;
      padding-top: 1.25rem; }
  .bodaSecDos div, .bodaSecTres div, .bodaSecCuatro div {
    width: 100%;
    height: 31.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    gap: none;
    grid-column: 2/3;
    grid-row: 1/3;
    order: 2; }
    .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
      width: 50%;
      height: 80%;
      border-radius: 0% 0% 45% 45%;
      box-shadow: 5px 5px rgba(128, 128, 128, 0.537); }
      .bodaSecDos div img:hover, .bodaSecTres div img:hover, .bodaSecCuatro div img:hover {
        filter: contrast(2); }

.bodaSecTres article {
  background-color: #e7c0aecf; }
  .bodaSecTres article p {
    grid-column: 2/3; }
  .bodaSecTres article h2 {
    grid-column: 2/3; }

.bodaSecTres div {
  grid-column: 3/4; }

.bodaSecCuatro article {
  background-color: #f4efdd; }

h1 {
  font-size: 2.5rem;
  font-weight: 400px;
  text-align: center;
  padding: 1.25rem 0; }

.linea {
  background: #ffd6dd;
  width: 100%;
  height: .3125rem;
  display: block; }

.Galeria {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  margin: auto;
  grid-gap: .625rem;
  padding: 2.5rem 0%;
  overflow: hidden; }
  .Galeria a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.658); }
    .Galeria a:hover img {
      filter: blur(0.125rem);
      transform: rotate(10deg) scale(1.3); }
    .Galeria a img {
      width: 100%;
      height: 18.75rem;
      vertical-align: top;
      object-fit: cover;
      transition: transform 0.5s; }

.galeriaPlaya {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.658);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  z-index: 1000;
  transform: scale(0);
  transition: transform .3s ease-in-out; }
  .galeriaPlaya:target {
    transform: scale(1); }
  .galeriaPlaya img {
    width: 75vw;
    max-height: 90vh;
    object-fit: contain; }
  .galeriaPlaya .cerrar {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    background: #fdc9d1;
    color: black;
    text-decoration: none;
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
    border-radius: 50%; }
  .galeriaPlaya .siguiente {
    display: block;
    background: #fdc9d1;
    color: black;
    width: 1.5625rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-decoration: none;
    text-align: center;
    margin: 0 .625rem; }

.contacto {
  background-image: linear-gradient(to bottom, #f3d7ca, #f8dedd, #f7e7ec, #f6f1f6, #fafafa);
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none; }
  .contacto .formulario {
    width: 50%;
    height: 37.5rem;
    margin: 0% 6.25rem 0% 6.25rem;
    background-image: url(../assets/iconos/descargar.jpeg);
    border-radius: 50% 50% 0% 0%;
    box-shadow: 0.3125rem 0.3125rem rgba(128, 128, 128, 0.542); }
    .contacto .formulario form {
      width: 100%;
      height: 37.5rem;
      display: grid;
      gap: 5px;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 25% repeat(3, 1fr) 10% 20% 25%; }
      .contacto .formulario form input {
        border-radius: .625rem; }
        .contacto .formulario form input:focus {
          background-color: #f0c7ce; }
        .contacto .formulario form input::placeholder {
          font-family: "Marko One", serif;
          text-align: center;
          padding: .625rem; }
        .contacto .formulario form input:first-child {
          grid-column: 2/3;
          grid-row: 2/3; }
        .contacto .formulario form input:nth-child(3) {
          grid-column: 2/3;
          grid-row: 4/5; }
        .contacto .formulario form input:nth-child(4) {
          grid-column: 2/3;
          grid-row: 5/6; }
        .contacto .formulario form input:nth-child(2) {
          grid-column: 2/3;
          grid-row: 3/4; }
        .contacto .formulario form input:nth-child(5) {
          grid-column: 2/3;
          grid-row: 6/7; }
      .contacto .formulario form div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: none;
        grid-column: 2/3;
        grid-row: 7/8; }
        .contacto .formulario form div button {
          width: 50%;
          height: 25%;
          border-radius: 1.25rem;
          background-color: beige; }
          .contacto .formulario form div button:hover {
            background-color: #ba117f;
            box-shadow: .125rem .125rem; }
          .contacto .formulario form div button:active {
            background-color: pink; }
  .contacto .contactoPag {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: none; }
    .contacto .contactoPag div {
      width: 50%;
      height: 25rem;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: repeat(8.1fr); }
      .contacto .contactoPag div p {
        width: 100%;
        height: 100%;
        grid-column: 1/4;
        grid-row: 1/2;
        font-family: "Marko One", serif;
        font-size: .9375rem;
        padding-top: 3.125rem; }
      .contacto .contactoPag div a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: none;
        text-decoration: none;
        color: black;
        font-size: 1.25rem;
        font-family: "Dancing Script", cursive; }
        .contacto .contactoPag div a:nth-child(2) {
          grid-column: 2/3;
          grid-row: 2/3;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
        .contacto .contactoPag div a:nth-child(3) {
          grid-column: 2/3;
          grid-row: 3/4;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
        .contacto .contactoPag div a:nth-child(4) {
          grid-column: 2/3;
          grid-row: 4/5;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
        .contacto .contactoPag div a:last-child {
          grid-column: 2/3;
          grid-row: 5/6;
          font-family: "Marko One", serif;
          font-size: .9375rem; }
      .contacto .contactoPag div img {
        width: 10%;
        padding-right: .375rem; }
  .contacto div iframe {
    width: 90%;
    height: 40%; }

footer {
  background-color: #FFF8E3;
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6.25rem; }
  footer a img:hover {
    filter: grayscale(3);
    transition: .2s;
    width: 50%; }

/*parsal de componentes*/
/*html hecho con boostrap*/
.font-open-sans {
  background-image: url(../assets/iconos/pareja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Luxurious Script", cursive; }

.fs-25 {
  font-size: 1.5625rem; }

.fs-40 {
  font-size: 1.875rem; }

.text-shadow {
  text-shadow: 2px 2px 4px black; }

.fs-lux {
  font-family: "Dancing Script", cursive; }

.rounded-5 {
  background-color: #F3D7CA;
  justify-content: e; }

.bg-color {
  background-color: #F3D7CA; }

.no-bullets {
  list-style: none; }

.custom-height-70 {
  height: 4.375rem; }

.custom-height-700 {
  height: 43.75rem; }

.custom-height-500 {
  height: 31.25rem; }

.custom-gap-100 {
  gap: 6.25rem; }

.custom-height-100 {
  height: 6.25rem; }

.bg-cf {
  background-color: #FFF8E3; }

.fs-15 {
  font-size: 1.25rem; }

.text-justify {
  text-align: justify; }

.text-vio {
  color: rgba(128, 0, 128, 0.884); }

.custom-w-50 {
  width: 50%;
  align-content: center; }

/*parsal de media querys*/
@media (max-width: 1024px) {
  .navBar {
    width: 100%;
    height: 44.375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: none;
    padding-right: 3.125rem; }
    .navBar li a {
      font-size: 1.25rem; }
  .barra nav a {
    padding-left: 5%; }
  .seccionUno .box p {
    font-size: 1.25rem;
    padding: 1%; }
  .seccionDos p {
    font-size: 1.5625rem; }
  .seccionTres {
    grid-template-columns: repeat(3, 30%);
    justify-content: center; }
  .expNov p {
    font-size: .9375rem; }
  .expNov h2 {
    font-size: 1.25rem; }
  .textoMedio p {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .textoMedio h1 {
    font-size: 1.5625rem;
    padding-top: 1.25rem; }
  .seccionNos {
    width: 100%; }
    .seccionNos div {
      width: 75%; }
  .bodaSecUno {
    height: 31.25rem; }
  .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
    width: 80%; }
  .bodaSecTres div img {
    width: 80%; }
  .bodaSecCuatro div img {
    width: 80%; }
  .custom-w-75 {
    width: 75%; }
  .divNosotros {
    width: 70%;
    height: 90%; }
  .contacto .formulario {
    width: 75%;
    height: 80%;
    margin-top: 3.125rem; }
  .contacto .contactoPag {
    width: 75%;
    height: 100%; }
    .contacto .contactoPag div {
      grid-template-columns: 30% 70% 30%; } }

@media (max-width: 768px) {
  .barra nav a {
    width: 50%; }
  .barra nav .checkbox {
    width: 50%;
    height: 1.875rem;
    display: block;
    text-align: right;
    padding-right: 3.125rem; }
  .barra nav ul {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    width: 30%;
    height: 15.625rem;
    text-align: center;
    position: fixed;
    background-color: #F3D7CA;
    top: 4.375rem;
    transition: all .5s;
    margin-left: 70%;
    right: 100%; }
    .barra nav ul li {
      display: block;
      padding: 0;
      line-height: 1.875rem; }
      .barra nav ul li a {
        font-size: 35px; }
        .barra nav ul li a:hover {
          font-size: 1.875rem;
          background-color: #FFF8E3;
          border-radius: 20%; }
  #check:checked ~ .navBar {
    left: 0;
    z-index: 1050; }
  #check {
    display: none; }
  .seccionUno {
    width: 100%;
    height: 25rem; }
    .seccionUno .box {
      width: 75%;
      height: 50%;
      margin-top: 6.25rem;
      padding-top: 3.125rem; }
      .seccionUno .box p {
        height: 15.625rem;
        font-size: 1.125rem;
        text-align: center;
        padding-top: 1.5625rem; }
  .seccionDos p {
    font-size: 1.125rem; }
  .seccionTres {
    width: 100%;
    height: 18.75rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center; }
    .seccionTres div {
      width: 75%;
      height: 100%; }
      .seccionTres div a {
        width: 50%;
        height: 100%;
        padding-top: 3.125rem; }
      .seccionTres div img {
        width: 100%;
        height: 50%; }
  .seccionCuatro {
    width: 100%;
    height: 18.75rem; }
    .seccionCuatro .anillos {
      height: 12.5rem;
      grid-column: 8/12;
      grid-row: 1/12; }
    .seccionCuatro .expNov {
      height: 12.5rem; }
      .seccionCuatro .expNov h2 {
        font-size: .9375rem;
        padding-top: 1.5625rem;
        grid-column: 2/5;
        grid-row: 1/3; }
      .seccionCuatro .expNov p {
        font-size: 1rem;
        grid-column: 1/10;
        padding-top: 1.5625rem; }
  footer {
    height: 3.125rem;
    gap: 3.125rem; }
    footer a img {
      width: 100%;
      height: 1.25rem; }
  .textoMedio p {
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.25rem; }
  .textoMedio h1 {
    font-size: 1.25rem;
    padding-top: 1.25rem; }
  .bodaSecUno h1 {
    margin-top: 1.5625rem; }
  .bodaSecUno p {
    font-size: 1.5625rem; }
  .bodaSecDos, .bodaSecTres, .bodaSecCuatro {
    height: 37.5rem; }
    .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
      width: 100%; }
  .bodaSecTres {
    height: 37.5rem; }
    .bodaSecTres div img {
      width: 100%; }
  .bodaSecCuatro {
    height: 37.5rem; }
    .bodaSecCuatro div img {
      width: 100%; }
  .mainNosotros {
    width: 100%;
    height: 100vh; }
    .mainNosotros .divNosotros {
      width: 75%;
      height: 80%;
      font-size: .875rem;
      background-color: #fafafa18;
      padding: 0 .625rem; }
      .mainNosotros .divNosotros h1 {
        color: black; }
      .mainNosotros .divNosotros p {
        color: black; }
  .contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .contacto .formulario {
      width: 75%;
      height: 31.25rem;
      margin-top: 6.25rem; }
      .contacto .formulario form {
        width: 100%;
        height: 100%; }
    .contacto .contactoPag {
      width: 75%;
      height: 50rem;
      margin-bottom: 6.25rem; } }

@media (max-width: 425px) {
  .barra nav a {
    width: 50%; }
  .barra nav .checkbox {
    width: 50%;
    height: 1.875rem;
    display: block;
    text-align: right;
    padding-right: 3.125rem; }
  .barra nav ul {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    width: 50%;
    height: 250px;
    text-align: center;
    position: fixed;
    background-color: #F3D7CA;
    top: 4.375rem;
    transition: all .5s;
    margin-left: 50%;
    right: 100%; }
    .barra nav ul li {
      display: block;
      padding: 0;
      line-height: 1.875rem; }
      .barra nav ul li a {
        font-size: 1.5625rem; }
        .barra nav ul li a:hover {
          font-size: 1.875rem;
          background-color: #FFF8E3;
          border-radius: 20%; }
  #check:checked ~ .navBar {
    left: 0;
    z-index: 1050; }
  #check {
    display: none; }
  .seccionUno .box {
    width: 100%;
    height: 12.5rem; }
    .seccionUno .box p {
      height: 10.9375rem;
      font-size: 1rem;
      padding-top: 0; }
  .seccionTres {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 1.5625rem; }
  .bodaSecUno {
    height: 37.5rem;
    padding-top: 5rem; }
    .bodaSecUno h1 {
      font-size: 1.875rem;
      margin-bottom: 1.25rem; }
    .bodaSecUno p {
      font-size: 1.25rem; }
  .bodaSecDos, .bodaSecTres, .bodaSecCuatro {
    height: 43.75rem; }
    .bodaSecDos div, .bodaSecTres div, .bodaSecCuatro div {
      grid-column: 2/4;
      grid-row: 1/3; }
      .bodaSecDos div img, .bodaSecTres div img, .bodaSecCuatro div img {
        width: 100%; }
    .bodaSecDos article, .bodaSecTres article, .bodaSecCuatro article {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .bodaSecDos article p, .bodaSecTres article p, .bodaSecCuatro article p {
        padding: 20px; }
      .bodaSecDos article h2, .bodaSecTres article h2, .bodaSecCuatro article h2 {
        padding-bottom: 1.25rem; }
  .bodaSecTres {
    height: 43.75rem; }
    .bodaSecTres div {
      grid-column: 2/4;
      grid-row: 1/3; }
      .bodaSecTres div img {
        width: 100%; }
    .bodaSecTres article {
      display: flex;
      flex-direction: colum;
      justify-content: center;
      align-items: none;
      gap: none; }
      .bodaSecTres article p {
        padding: 20px; }
      .bodaSecTres article h2 {
        padding-bottom: 1.25rem; }
  .bodaSecCuatro {
    height: 43.75rem; }
    .bodaSecCuatro div {
      grid-column: 2/4;
      grid-row: 1/3; }
      .bodaSecCuatro div img {
        width: 100%; }
    .bodaSecCuatro article {
      display: flex;
      flex-direction: colum;
      justify-content: center;
      align-items: none;
      gap: none; }
      .bodaSecCuatro article p {
        padding: 20px; }
      .bodaSecCuatro article h2 {
        padding-bottom: 1.25rem; }
  .seccionCuatro {
    width: 100%;
    height: 100%; }
    .seccionCuatro .anillos {
      grid-column: 7/12;
      grid-row: 1/8; }
    .seccionCuatro .expNov {
      width: 100%;
      height: 100%; }
      .seccionCuatro .expNov h2 {
        padding-top: 1.25rem; }
      .seccionCuatro .expNov p {
        margin-top: 0;
        padding-bottom: 1.25rem;
        font-size: 1rem;
        grid-column: 1/10; }
  .mainNosotros {
    width: 100%;
    height: 100%; }
    .mainNosotros .divNosotros {
      background-color: #fafafa04; }
      .mainNosotros .divNosotros h1 {
        color: black;
        margin-bottom: 1.5625rem; }
      .mainNosotros .divNosotros p {
        color: black; }
  .contacto .contactoPag div {
    width: 100%;
    height: 100%; } }

@media (max-width: 375px) {
  .seccionUno .box {
    width: 100%;
    height: 12.5rem; }
    .seccionUno .box p {
      height: 10.9375rem;
      font-size: 1rem; }
  .seccionDos p {
    font-size: 1.25rem; }
  .seccionTres {
    width: 100%;
    height: 62.5rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    align-items: center; }
    .seccionTres div {
      height: 15.625rem; }
      .seccionTres div img {
        width: 100%;
        height: 50%; }
      .seccionTres div a {
        width: 50%;
        height: 100%; }
      .seccionTres div p {
        font-size: .9375rem;
        line-height: .9375rem;
        padding-top: .625rem; } }

@media (max-width: 20rem) {
  p {
    font-family: "Luxurious Roman", serif; }
  .seccionUno .box {
    width: 100%;
    height: 12.5rem; }
    .seccionUno .box p {
      height: 10.9375rem;
      font-size: 1rem; }
  .seccionDos {
    height: 21.875rem; }
    .seccionDos p {
      font-size: 1rem; }
    .seccionDos h1 {
      font-size: 1.875rem; }
  .seccionTres {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 1.5625rem; }
  .seccionCuatro {
    width: 100%;
    height: 100%; }
    .seccionCuatro .anillos {
      grid-column: 7/12;
      grid-row: 1/8; }
    .seccionCuatro .expNov {
      width: 100%;
      height: 100%; }
      .seccionCuatro .expNov h2 {
        padding-top: 1.25rem; }
      .seccionCuatro .expNov p {
        grid-column: 1/10;
        padding-top: .3125rem; } }
