
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap');
/*
font-family: "Luxurious Roman", serif;
font-family: "Luxurious Script", cursive;
font-family: "Marko One", serif;
font-family: "Dancing Script", cursive;
*/
/* * {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}
html {
  font-family: "Dancing Script", cursive;
}

h1 {
  font-family: "Luxurious Script", cursive;
  font-size: 3.125rem;
  text-align: center;
}

footer {
  background-color: #FFF8E3;
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.25rem;
  align-items: center;
}
footer a img:hover {
  filter: grayscale(3) ;
  width: 50%;
}
.font-open-sans {
  font-family: "Luxurious Script", cursive;
}

.barra nav{ 
width: 100%;
height: 4.375rem;
font-size: 2.5rem;
text-decoration: none;
  background-color: #F3D7CA;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul.navBar {
  height: 4.375rem;
}

.navBar {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1.25rem;
  justify-content: space-evenly;
  align-items: center;
}

.navBar li a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
}
.navBar li a:hover {
  font-size: 1.5625rem;
  color:rgba(218, 29, 146, 0.847);
}
.barra nav a:hover {
  font-size: 1.5625rem;
  color:rgba(218, 29, 146, 0.847);
}

.barra nav a {
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
  font-size: 1.875rem;
  padding-left: .625rem;
} */

/* .seccionUno {
  width: 100%;
  height: 31.25rem;
  background-image: url("../assets/iconos/1500px.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.box {
  width:40%;
  height: 18.75rem;
  font-size: .625rem;
  background-color: #f3d7caab;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box p {

  width: 100%;
  height: 12.5rem;
  font-size: 1.25rem;
  text-align: center;
  padding: 1%;
  
}
.seccionDos {
  width: 100%;
  height: 400px;
  padding: 5%
  
  }
  .seccionDos p {
    width: 100%;
    height: 18.75rem;
    font-size: 1.5625rem;
    text-align: center;
    }
    .seccionDos p::first-letter {
      font-size: 2.5rem;
      }
      .seccionTres {
        width: 100%;
        height: 31.25rem;
        background-color: #F3D7CA;
        display: grid;
        grid-template-columns: repeat(3, 25%);
        justify-content: center;
        align-items: center;
        }

        .seccionTres div{
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  }
  .seccionTres div a {
  text-decoration: none;
  }
  .seccionTres div img {
  border-radius: 31.25rem 31.25rem 0% 0%;
  }
  .seccionTres div p {
    background-color: #e7bda9;
    width: 100%;
    height: 6.25rem;
    color: black;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .model:hover {
      filter:grayscale(3) ;
      width: 80%;
      }

      .seccionCuatro {
        width: 100%;
        height: 28.125rem;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,1fr);
      }
      .seccionCuatro .anillos img {
        width: 100%;
        height: 100%;
        border: solid black;
        border-radius: 0% 0% 40% 40%;
      }
      
      .anillos {
        grid-column: 8/11;
        grid-row: 1/12;
        order: 2;
      }
      
      
      
      .expNov {
        width: 100%;
        height: 100%;
        background-color: #E7C0AE;
        font-size: 1.25rem;
        grid-column: 1/13;
        grid-row: 6/13;
        order: 1;
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: repeat(5,1fr);
      }
      
      .expNov h2{
        width: 100%;
        height: 100%;
        grid-column: 2/6;
        grid-row: 2/3;
      }
      
      .expNov p {
        width:100%;
        height: 100%;
        padding-left: 3.125rem;
        grid-column: 1/6;
        grid-row: 3/6;
      }

/*html hecho con boostrap*/

/* .font-open-sans {
  background-image: url(../assets/iconos/pareja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
  .fs-25 {
font-size: 1.5625rem
  }
  .fs-40 {
    font-size: 1.875rem;
  }
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .fs-lux {
    font-family: "Dancing Script", cursive;
  }
  .rounded-5 {
      background-color:#f3d7ca ;
      justify-content: e;
  }
  .bg-color {
      background-color: #F3D7CA;
  }
  .no-bullets {
      list-style: none;
  }
  .custom-height-70 {
      height: 4.375rem;
  }
  .custom-height-700 {
      height: 43.75rem;
  }
  .custom-height-500 {
      height: 31.25rem;
  }
  .custom-gap-100 {
      gap: 6.25rem;
  }
  .custom-height-100 {
      height: 6.25rem;
  }
  .bg-cf {
      background-color:#FFF8E3 ;
  }
  .fs-15 {
      font-size: 1.25rem;
  }
  .text-justify {
      text-align: justify;
  }
  .text-vio {
    color: rgba(128, 0, 128, 0.884);
  }
  
  
  
 */  /*aca termina mi css de boostrap de html Nosotros */
/*  */
/*   background-image: url("../assets/iconos/istockphoto-929904308-170667a\ 2.png");

background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 46.9375rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seccionNos div {
  width: 50%;
  height: 37.5rem;
  background-color:#f3d7ca94 ;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;

}



.bodaSecUno {
  width: 100%;
  height: 25rem;
  background-color: #E7C0AE;
  font-size: 1.875rem;
  text-align: center;
  padding: 5%;
}
.bodaSecDos {
  width: 100%;
  height: 31.25rem;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
}
.bodaSecDos article {
  grid-column: 1/5;
  grid-row: 2/3;
  order :1;
  background-color: #f1e8cd;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  grid-template-rows: repeat(2,1fr);
}
.bodaSecDos article p {
  grid-column: 3/4;
  grid-row: 2/3;
text-align: center;
padding-bottom: 1.25rem;
}
.bodaSecDos article h2 {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
  padding-top: 1.25rem;
}
.bodaSecDos div {
  width: 100%;
  height: 31.25rem;
  grid-column: 2/3;
  grid-row: 1/3;
  order: 2;
  display: flex;
  justify-content: center;
}
.bodaSecDos div img {
  width: 50%;
  height: 80%;
  border-radius: 0% 0% 45% 45% ;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.537);
}
.bodaSecDos div img:hover {
  filter: contrast(2);
}
.bodaSecTres div img:hover {
  filter: contrast(2);
}
.bodaSecCuatro div img:hover {
  filter: contrast(2);
}
.bodaSecDos article p::first-letter {
  font-size: 1.5625rem;
}
.bodaSecTres article p::first-letter {
  font-size: 1.5625rem;
}
.bodaSecCuatro article p::first-letter {
  font-size: 1.5625rem;
}

.bodaSecTres {
  width: 100%;
  height: 31.25rem;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
}
.bodaSecTres article {
  grid-column: 1/5;
  grid-row: 2/3;
  order :1;
  background-color: #e7c0aecf;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  grid-template-rows: repeat(2,1fr);
}
.bodaSecTres article p {
  grid-column: 2/3;
  grid-row: 2/3;
text-align: center;
padding-bottom: 1.25rem;
}
.bodaSecTres article h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  padding-top: 1.25rem;
}
.bodaSecTres div {
  width: 100%;
  height: 31.25rem;
  grid-column: 3/4;
  grid-row: 1/3;
  order: 2;
  display: flex;
  justify-content: center;
}
.bodaSecTres div img {
  width: 50%;
  height: 80%;
  border-radius: 0% 0% 45% 45% ;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.537);
}

.bodaSecCuatro {
  width: 100%;
  height: 31.25rem;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
}
.bodaSecCuatro article {
  grid-column: 1/5;
  grid-row: 2/3;
  order :1;
  background-color: #f4efdd;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  grid-template-rows: repeat(2,1fr);
}
.bodaSecCuatro article p {
  grid-column: 3/4;
  grid-row: 2/3;
text-align: center;
padding-bottom: 1.25rem;
}
.bodaSecCuatro article h2 {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
  padding-top: 1.25rem;
}
.bodaSecCuatro div {
  width: 100%;
  height: 31.25rem;
  grid-column: 2/3;
  grid-row: 1/3;
  order: 2;
  display: flex;
  justify-content: center;
}
.bodaSecCuatro div img {
  width: 50%;
  height: 80%;
  border-radius: 0% 0% 45% 45% ;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.537);
}

 */

/* .textoMedio p {
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.875rem;
}
.textoMedio h1 {
  padding-top: 1.875rem;
}
 *//* .contacto {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 90%;
  height: 45%;
}
.contactoPag {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactoPag div {
  width: 50%;
  height: 25rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: repeat(8.1fr);
}
.contactoPag div p:first-child {
  font-family: "Marko One", serif;
  font-size: .9375rem;
  display: flex;
  align-items: end;
  grid-column:1/4 ;
  grid-row: 2/3;
}
.contactoPag div a:nth-child(2) {
  font-family: "Marko One", serif;
  font-size: .9375rem;
  grid-column: 2/3;
  grid-row: 4/5;
}
.contactoPag div a:nth-child(3) {
  font-family: "Marko One", serif;
  font-size: .9375rem;
  grid-column: 2/3;
  grid-row: 5/6;
}
.contactoPag div a:nth-child(4) {
  font-family: "Marko One", serif;
  font-size: .9375rem;
  grid-column: 2/3;
  grid-row: 6/7;
}
.contactoPag div a:last-child{
  font-family: "Marko One", serif;
  font-size: .9375rem;
  grid-column: 2/3;
  grid-row: 7/8;
}
.contactoPag div a img {
  width: 10%;
  padding-right: .375rem;
}


.contactoPag div a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-family: "Dancing Script", cursive; ;
  display: flex;
  justify-content: start;
  align-items: center;
}
.formulario {
  width: 50%;
  height: 37.5rem;
  margin: 0% 6.25rem 0% 6.25rem ;
  background-image: url(../assets/iconos/descargar.jpeg);
  border-radius: 50% 50% 0% 0%;
  box-shadow: .3125rem .3125rem rgba(128, 128, 128, 0.542);
}

.formulario form {
  width: 100%;
  height: 37.5rem;
display: grid;
gap: 5px;
grid-template-columns: 25% 50% 25%;
grid-template-rows: 25% repeat(3,1fr) 10% 20% 25%;
}
.formulario form :first-child {
  grid-column: 2/3;
  grid-row: 2/3;
}
.formulario form :nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.formulario form :nth-child(4) {
  grid-column: 2/3;
  grid-row: 4/5;
}
.formulario form :nth-child(2) {
  grid-column: 2/3;
  grid-row: 5/6;
}
.formulario form :nth-child(5) {
  grid-column: 2/3;
  grid-row: 6/7;
}
.formulario form :last-child {
  width: 20%;
  height: 20%;
  grid-column: 2/3;
  grid-row: 7/8;
  margin-left: 7.5rem;
  margin-top: 3.125rem;
}
input {
  border-radius: .625rem;
}
input:focus {
  background-color: rgb(240, 199, 206);
}
button:hover {
  background-color: rgb(186, 17, 127);
  box-shadow: .125rem .125rem;
}  
button:active {
  color: pink;
}
input::placeholder {
  font-family: "Marko One", serif;
  text-align: center;
  padding: .625rem;
  
}

 */
/* aca termina la vista destop*/


@media (max-width: 1024px) {
  
  .navBar li a {
font-size: 1.25rem;
  }

  .navBar {
    width: 100%;
    height: 4.375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 3.125rem;
    
  }
.barra nav a {
  padding-left: 5%;
}

.seccionUno .box p {
  font-size: 1.25rem;
  padding: 1%;
}
  .seccionDos p{
    font-size: 1.5625rem;
}
    
  .seccionTres {
    grid-template-columns: repeat(3,30%);
    justify-content: center;
}

  .expNov p{
    font-size: .9375rem;
  }
  .expNov h2{
    font-size: 1.25rem;
  }
  .textoMedio p {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
.textoMedio h1 {
  font-size: 1.5625rem;
    padding-top: 1.25rem;
}
.seccionNos div {
  width: 75%;

}
.seccionNos {
  width: 100%;
}
.bodaSecUno {
  height: 31.25rem;
}
.bodaSecDos div img {
  width: 80%;
}
.bodaSecTres div img {
  width: 80%;
}
.bodaSecCuatro div img {
  width: 80%;
}

.galeriaMain div {
  width:40%;
}
.carrusel {
  margin-right: 0rem;
  margin-left: 0rem;
  display: flex;
  justify-content: center;
}
}
/*aca termina la otra vista*/

@media ( max-width: 768px){
  nav {
    width: 100%;
    height: 4.375rem;
    background-color: #F3D7CA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
  }
  .navBar li a {
    font-size: 15px;
  }
  ul .navBar {
    width: 100%;
    height: 4.375rem;
    display: flex;
    gap: 1.25rem;
  }

  .seccionUno {
    width: 100%;
    height: 21.875rem;
  }

  .seccionUno .box{
    height: 9.375rem;
  }

  .seccionUno .box p{
    height: 6.25rem;
  font-size: .625rem;
  text-align: center;
  
  }
  .seccionTres {
    width: 100%;
    height: 25rem;
    grid-template-columns: repeat(3,30%);
    align-items: center;
}
.seccionTres div {
    height: 18.75rem;
}
.seccionTres div img {
    width: 100%;
    height: 50%;
}
.seccionCuatro{
  width: 100%;
  height: 18.75rem;

}

.anillos {
  height: 12.5rem1;
  grid-column: 8/12;
  grid-row: 1/10;
}

.expNov {
height: 12.5rem;
}
.expNov p {
  font-size: .625rem;
}
.expNov h2{
  font-size: .9375rem;
  grid-column: 2/5;
  grid-row: 1/3;
}

footer {
  height: 3.125rem;
  gap: 3.125rem;
}
footer a img {
  width: 100%;
  height: 1.25rem;
}
.textoMedio p {
  font-size: .9375rem;
  line-height: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.25rem;
}

.textoMedio h1 {
  font-size: 1.25rem;
  padding-top: 1.25rem;
}
.seccionNos div {
  width: 80%;
  height: 90%;
  margin-right: 1.25rem;
}
.seccionNos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bodaSecUno p {
  font-size: 1.5625rem;
}
.bodaSecDos {
  height: 37.5rem;
}
.bodaSecDos div img {
  width: 100%;
}
.bodaSecTres {
  height: 37.5rem;
}
.bodaSecTres div img {
  width: 100%;
}

.bodaSecCuatro {
  height: 37.5rem;
}
.bodaSecCuatro div img {
  width: 100%;
}
.galeriaMain {
  width: 100%;
  height: 62.5rem;
  display: flex;
  flex-direction: column;
}

.galeriaMain div {
  width: 90%;
  height: 25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 1rem;
}
.carrusel img {
  height: 100%;
}
}


/*aca termina la otra vista*/
@media (max-width: 425px) {

.seccionNos div {
  width: 90%;
  height: 90%;
}
.seccionNos div p{
  font-size: .9375rem;
  line-height: .9375rem;
  padding-top: .625rem;
}
.galeriaMain div {
  font-size: .875rem;
}
.galeriaMain div h1 {
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
}
.bodaSecDos {
  height: 43.75rem;
}
.bodaSecDos div {
  grid-column: 2/4;
  grid-row: 1/3;
}
.bodaSecDos div img {
  width: 100%;
}
.bodaSecDos article {
display: flex;
flex-direction: column;
justify-content: center;
}

.bodaSecDos article p {
padding:  20px;
}
.bodaSecDos article h2 {
padding-bottom: 1.25rem;
}  
.bodaSecTres {
  height: 43.75rem;
}
.bodaSecTres div {
  grid-column: 2/4;
  grid-row: 1/3;
}
.bodaSecTres div img {
  width: 100%;
}
.bodaSecTres article {
display: flex;
flex-direction: column;
justify-content: center;
}

.bodaSecTres article p {
padding:  20px;
}
.bodaSecTres article h2 {
padding-bottom: 1.25rem;
}
.bodaSecCuatro {
  height: 43.75rem;
}
.bodaSecCuatro div {
  grid-column: 2/4;
  grid-row: 1/3;
}
.bodaSecCuatro div img {
  width: 100%;
}
.bodaSecCuatro article {
display: flex;
flex-direction: column;
justify-content: center;
}

.bodaSecCuatro article p {
padding:  20px;
}
.bodaSecCuatro article h2 {
padding-bottom: 1.25rem;
}  
}
/*aca termina otra vista*/


@media (max-width: 375px) {
  .navBar {
    padding-right: .3125rem;
  }

  .box p {
    height: 9.375rem;
    font-size: .1875rem;
  }
  .box {
    width: 12.5rem;
  }
  .seccionNos div {
    width: 90%;
    height: 90%;
  }
  .seccionDos p {
    font-size: 1.25rem;
  }
  .seccionTres {
    width: 100%;
    height: 62.5rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
}
.seccionTres div {
    height: 15.625rem;
}
.seccionTres div img {
    width: 100%;
    height: 50%;
}
.seccionTres div a {
width: 50%;
height: 100%;
}
  .seccionNos div p{
    font-size: .9375rem;
    line-height: .9375rem;
    padding-top: .625rem;
  }
  .galeriaMain div {
    font-size: .75rem;
  }
}

/*aca termina la otra vista */


@media(max-width: 20rem){
  .navBar {
    padding-right: .125rem;
    justify-content: center;
    padding-left: 1.25rem;
  }
.seccionNos {
  display: flex;
  justify-content: center;
}
.bodaSecUno p {
font-size: 1.5625rem;
}
  .seccionDos {
    height: 15.625rem;
  }
  .seccionDos p{
    font-size: 1rem;
  }
  .seccionDos h1 {
    font-size: 1.875rem;
  }

  .bodaSecUno p {
    font-size: 1.25rem;
  }
  
  
}