.seccionUno {
    @include width-height (100%,37.5rem);
    @include flex (row,center,center,none);
    background-image: url("../assets/iconos/1500px.webp");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6.25rem;
        .box {
            @include width-height (60%,18.75rem);
            @include flex (row,center,center,none);
            font-size: .625rem;
            background-color: #f3d7cabf;
            border-top-left-radius: 15%;
            border-top-right-radius: 15%;
                p {
                    @include width-height(100%,12.5rem);
                    font-size: 1.25rem;
                    text-align: center;
                    padding: 1%;
                }
        }
}

.seccionDos {
    @include width-height(100%,25rem);
    padding: 5%;
        p {
            @include width-height(100%,18.75rem);
            font-size: 1.5625rem;
            text-align: center;
                &::first-letter {
                    font-size: 2.5rem;
                }
        }
}

.seccionTres {
    @include width-height (100%, 37.5rem);
    background-image: linear-gradient(135deg, #F3D7CA, #FFD1C0, #FFC9BD, #FFBEC3);
    background-size: 500%;
    animation: fanimado 3s infinite;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
        div.model {
            @include width-height (100%,80%);
            margin-top: 1.25rem;
            padding: 3.125rem;
            &:hover {
            filter:grayscale(3) ;
            transition: 3s;
                width: 80%;
            }
            a {
                @include width-height (25%,100%);
                text-align: center;
                text-decoration: none;
                color: black;
                img {
                    @include width-height (100%,80%);
                    border-radius: 40% 40% 0% 0%;
                }
                p {
                    @include width-height (100%,3.125rem);
                    background-color: map-get($colores, $key:2 );
                    padding-top: .625rem;
                }
                }
        }
}
@keyframes fanimado {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.seccionCuatro {
    @include width-height(100%,100%);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
        .anillos {
            grid-column: 8/11;
            grid-row: 1/12;
            order: 2;
                img {
                    @include width-height(100%,100%);
                    border: solid black;
                    border-radius: 0% 0% 40% 40%;
                }
        }
        .expNov {
            @include width-height (100%,100%);
            background-image: linear-gradient(to top, #fff8e3, #fff5ec, #fff6f6, #fef8fc, #fafafa);            font-size: 1.25rem;
            grid-column: 1/13;
            grid-row: 6/13;
            order: 1;
            display: grid;
            grid-template-columns: repeat(10,1fr);
            grid-template-rows: repeat(5,1fr);
                h2{
                    @include width-height (100%,100%);
                    grid-column: 2/6;
                    grid-row: 2/3;
                }
                p {
                    @include width-height (100%,100%);
                    padding-left: 3.125rem;
                    grid-column: 1/6;
                    grid-row: 3/6;
                }
        }
} 

