.mainNosotros {
        section {
            /* @include width-height (100%,100%); */
            @include flex (row,center,start,none);
            @include width-height (100%,100%);
            background-image: linear-gradient(to right top, #d16ba5, #df7da1, #e992a1, #eea7a6, #f1bcb2, #f3c8ba, #f5d4c3, #f7dfcf, #f9e5d3, #fbebd8, #fdf2dd, #fff8e3);            background-repeat: no-repeat;
                div {
                    @include width-height(60%,90%);
                    background-color:map-get($colores, 3 ) ;
                    border-radius: 0% 0% 20% 20%;
                    padding: 0 1.25rem;
                    margin-top: 5rem;
                }
                        h1 {
                            font-size: 1.5625rem;
                            color: grey;
                        }
                        p {
                            @include width-height (100%,75%);
                            color: grey;
                            line-height: 1.875rem;
                            text-align: justify;
                            margin-bottom: 3.125rem;
                        }
                }
            }