        .secNosotros {
            @include flex (row,center,start,none);
            width: 100%;
            height: 100%;
            background-image: url(../assets/iconos/fondo-pagina-galeria.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                .divNosotros {
                    @include width-height(60%,90%);
                    background-color:map-get($colores, 3 ) ;
                    border-radius: 0% 0% 20% 20%;
                    padding: 0 1.25rem;
                    margin-top: 5rem;
                    margin-bottom: 5rem;
                    h1 {
                        font-size: 1.5625rem;
                        color: grey;
                    }
                    p {
                        @include width-height (100%,100%);
                        color: grey;
                        line-height: 1.875rem;
                        text-align: justify;
                        margin-bottom: 3.125rem;
                    }
                }
}
