h1 {
    font-size: 2.5rem;
    font-weight: 400px;
    text-align: center;
    padding: 1.25rem 0;
}
.linea {
background: rgb(255, 214, 221);
width: 100%;
height: .3125rem;
display: block;
}
.Galeria {
    display: grid;
    width:80%;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem,1fr));
    margin: auto;
    grid-gap: .625rem;
    padding: 2.5rem 0%;
    overflow: hidden;
        a {
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.658);
        &:hover img{
            filter: blur(.125rem);
            transform: rotate(10deg) scale(1.3);
            }
                img {
                width: 100%;
                height: 18.75rem;
                vertical-align: top;
                object-fit: cover;
                transition: transform 0.5s;
            }
    }
}

.galeriaPlaya {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 100vh;
    @include flex(row,center,center,none);
    z-index: 1000;
    transform: scale(0);
    transition: transform .3s ease-in-out;
    &:target {
        transform: scale(1);
    }
    img {
        width: 75vw;
        max-height: 90vh;
        object-fit: contain;
    }
    .cerrar {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        background: rgb(253, 201, 209);
        color: black;
        text-decoration: none;
        width: 1.875rem;
        height: 1.875rem;
        text-align: center;
        line-height: 1.875rem;
        border-radius: 50%;
    }
    .siguiente {
        display: block;
        background: rgb(253, 201, 209) ;
        color: black;
        width: 1.5625rem;
        height: 1.5625rem;
        line-height: 1.5625rem;
        text-decoration: none;
        text-align: center;
        margin: 0 .625rem ;
    }
}
