* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Luxurious+Roman&family=Luxurious+Script&family=Marko+One&display=swap');
/*
font-family: "Luxurious Roman", serif;
font-family: "Luxurious Script", cursive;
font-family: "Marko One", serif;
font-family: "Dancing Script", cursive;
*/
html {
    font-family: "Luxurious Roman", serif;
}