@media (max-width: 425px) {


        .barra {
            nav {
                a {
                    width: 50%;
                }
                .checkbox {
                    @include width-height(50%,1.875rem);
                    display: block;
                    text-align: right;
                    padding-right: 3.125rem
                    }
                ul {
                    @include flex ( column,none,center,1.25rem);
                    @include width-height(50%,250px);
                    text-align: center;
                    position: fixed;   
                    background-color: map-get($colores, 1 );
                    top: 4.375rem;
                    transition: all .5s;
                    margin-left: 50%;
                    right: 100%;
                        li {
                            display: block;
                            padding: 0;
                            line-height: 1.875rem;
                                a {
                                    font-size: 1.5625rem;
                                    &:hover {
                                        font-size: 1.875rem;
                                        background-color: map-get($colores , 2 );
                                        border-radius: 20%;
                                    }
                                }
                        }
                }
                }
        
        
    }
        #check:checked ~ .navBar {
            left: 0;
            z-index: 1050;
        }

        #check {
            display: none;
        }
.seccionUno {
    .box {
        @include width-height (100%,12.5rem);
            p {
                height: 10.9375rem;
                font-size: 1rem;
                padding-top: 0;
                }
            }
        
}
.seccionTres {
    @include width-height (100%,100%);
    @include flex (column,center,center,1.25rem);
    padding-bottom: 1.5625rem;
}

.bodaSecUno {
    height: 37.5rem;
    padding-top: 5rem;
    h1 {
        font-size: 1.875rem;
        margin-bottom: 1.25rem;
    }
    p {
        font-size: 1.25rem;
    }
}
.bodaSecDos {
    height: 43.75rem;
    div {
        grid-column: 2/4;
        grid-row: 1/3;
        img {
            width: 100%;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            padding:  20px;
        }
        h2 {
            padding-bottom: 1.25rem;
        } 
    }
}

.bodaSecTres {
    height: 43.75rem;
    div {
        grid-column: 2/4;
        grid-row: 1/3;
        img {
            width: 100%;
        }
    }
    article {
        @include flex (colum,center,none,none);
        p {
            padding:  20px;
        }
        h2 {
            padding-bottom: 1.25rem;
        }
    }
}

.bodaSecCuatro {
    height: 43.75rem;
    div {
        grid-column: 2/4;
        grid-row: 1/3;
        img {
            width: 100%;
        }
    }
    article {
        @include flex (colum,center,none,none);
        p {
            padding:  20px;
        }
        h2 {
            padding-bottom: 1.25rem;
        }  
    }
}
    .seccionCuatro {
        @include width-height (100%,100%);
            .anillos {
                grid-column: 7/12;
                grid-row: 1/8;
            }
            .expNov {
                @include width-height (100%,100%);
                h2{
                    padding-top: 1.25rem;
                }
                p {
                    margin-top: 0;
                    padding-bottom: 1.25rem;
                    font-size: 1rem;
                    grid-column: 1/10;
                    }
            }
    } 

.mainNosotros {
    @include width-height (100%,100%);
    .divNosotros {
        background-color:#fafafa04;
        h1 {
            color: black;
            margin-bottom: 1.5625rem;
        }
        p {
            color: black;
        }
    }
}
.contacto {
    .contactoPag {
        div {
            @include width-height (100%,100%);
        }
    }
}
}