
@media(max-width: 20rem){
p {
    font-family: "Luxurious Roman", serif;
}

.barra {
    nav {
        a {
            img {
                    @include width-height (70%,70%);
                }
        }
    }
}

.seccionUno {
    .box {
        @include width-height (100%,12.5rem);
        p {
            height: 10.9375rem;
            font-size: 1rem;
        }
    }

}

.seccionDos {
    height: 100%;
        p{
            font-size: 1rem;
        }
        h1 {
            font-size: 1.875rem;
        }
}

.seccionTres {
    @include width-height (100%,100%);
    @include flex (column,center,center,1.25rem);
    padding-bottom: 1.5625rem;
}
.seccionCuatro {
    @include width-height (100%,100%);
        .anillos {
            grid-column: 7/12;
            grid-row: 1/8;
        }
        .expNov {
            @include width-height (100%,100%);
            h2{
                padding-top: 1.25rem;
            }
            p {
                grid-column: 1/10;
                padding-top: .3125rem;
                }
        }
} 
.bodaSecUno {
    p {
        font-size: 1.125rem;
    }
}
.bodaSecDos {
    div {
        img {
            height: 60%;
        }
    }
    article {
        h2 {
            padding-top: 1.25rem
        }
    }
}
}